Tiny Url

<% if (locals.userID === undefined) {%>
  <a href = "/login">login</a>
  <a href = "/register">register</a>
<%} else {%>
<form class="form-inline" action="/logout" method="POST">  
  <a href = "/urls"> URLS </a>|<a href = "/urls/new"> Create New Tiny Url </a>

  <button type="submit" class="btn btn-primary">logout</button>
</form>
<%}%>