Tiny Url

<% if (userID === undefined) {%>
<%console.log("userID ", userID);%>
  <a href = "/login">login</a>
  <a href = "/register">register</a>
<%} else {%>
<form class="form-inline" action="/logout" method="POST">  
  <button type="submit" class="btn btn-primary">logout</button>
</form>
<%}%>