Tiny Url



<% if (username == undefined) {%>
<form class="form-inline" action="/urls/login" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Login</label>
        <input class="form-control" type="text" name="username" placeholder="username" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>


<% } else {%>
<form class="form-inline" action="/urls/logout" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Logout</label>
        <input class="form-control" type="text" name="username" placeholder="username" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>
<%}%>
<p> <%= username %></p>