<div id="header">
<h1>Tiny Url</h1>

<% if (user) {%>
  <p>Logged in as: <%= user.email %></p>
  <form class="form-inline" action="/logout" method="POST">  
  <a id=urls href = "/urls"> URLS </a>|<a id="create" href = "/urls/new"> Create New Tiny Url </a>
  <button type="submit" class="btn btn-primary">logout</button>
</form>
<%} else {%>
  <a href = "/login">login</a>
  <a href = "/register">register</a>
<%}%>
</div>
 <style>
 #urls {
   padding: .5em;
 }

 #create {
   padding: .5em;
 }

 #header {
   background-color: lightgrey;
   padding: 2em;
 }
 </style>